In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
%matplotlib inline
import matplotlib.pyplot as plt

tips='fundata-python-sdk-master/list.csv'
data=pd.read_csv(tips,header=None,names=['matchid','gamemode','time','playernum','radiantwin','playerslot0','hero0','hit0','playerslot1','hero1','hit1','playerslot2','hero2','hit2','playerslot3','hero3','hit3','playerslot4','hero4','hit4','playerslot5','hero5','hit5','playerslot6','hero6','hit6','playerslot7','hero7','hit7','playerslot8','hero8','hit8','playerslot9','hero9','hit9']   )
data.head()

,matchid,gamemode,time,playernum,radiantwin,playerslot0,hero0,hit0,playerslot1,hero1,...,hit6,playerslot7,hero7,hit7,playerslot8,hero8,hit8,playerslot9,hero9,hit9
0,5156254109,22,1801,10,True,0,7,73,1,63,...,133,7,44,133,8,36,67,9,30,16
1,5156254110,22,1695,10,True,0,5,45,1,6,...,35,7,57,53,8,70,107,9,121,41
2,5156254111,22,2307,10,True,0,14,103,1,86,...,156,7,104,164,8,19,96,9,68,44
3,5156254112,22,2633,10,True,0,21,247,1,14,...,303,7,26,39,8,8,324,9,100,79
4,5156254113,22,2276,10,False,0,63,175,1,84,...,97,7,64,37,8,82,325,9,70,183

In [2]:
#去除时间小于720S的场次数据
dataT=data[data['time']>720]

In [3]:
dataT.head()

,matchid,gamemode,time,playernum,radiantwin,playerslot0,hero0,hit0,playerslot1,hero1,...,hit6,playerslot7,hero7,hit7,playerslot8,hero8,hit8,playerslot9,hero9,hit9
0,5156254109,22,1801,10,True,0,7,73,1,63,...,133,7,44,133,8,36,67,9,30,16
1,5156254110,22,1695,10,True,0,5,45,1,6,...,35,7,57,53,8,70,107,9,121,41
2,5156254111,22,2307,10,True,0,14,103,1,86,...,156,7,104,164,8,19,96,9,68,44
3,5156254112,22,2633,10,True,0,21,247,1,14,...,303,7,26,39,8,8,324,9,100,79
4,5156254113,22,2276,10,False,0,63,175,1,84,...,97,7,64,37,8,82,325,9,70,183

In [4]:
dataT['radiantwin'].value_counts()

True     6132
False    5525
Name: radiantwin, dtype: int64

In [6]:
dataT['gamemode'].value_counts()

22    11039
3       582
2        36
Name: gamemode, dtype: int64

In [7]:
dataRadiant['hero0'].value_counts()

14     295
26     172
44     149
128    148
93     145
      ...
77       6
78       5
103      4
66       4
92       3
Name: hero0, Length: 119, dtype: int64

In [9]:
dataDire=dataT[dataT['radiantwin']==False]
dataDire

,matchid,gamemode,time,playernum,radiantwin,playerslot0,hero0,hit0,playerslot1,hero1,...,hit6,playerslot7,hero7,hit7,playerslot8,hero8,hit8,playerslot9,hero9,hit9
4,5156254113,22,2276,10,False,0,63,175,1,84,...,97,7,64,37,8,82,325,9,70,183
5,5156254114,22,2219,10,False,0,35,206,1,25,...,254,7,91,34,8,50,99,9,99,160
10,5156254124,22,1707,10,False,0,36,74,1,101,...,58,7,84,36,8,1,254,9,114,197
16,5156254146,22,2306,10,False,0,35,201,1,82,...,51,7,54,294,8,98,170,9,9,93
18,5156254151,22,2483,10,False,0,27,36,1,8,...,347,7,34,296,8,87,32,9,49,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12165,5156290711,22,1876,10,False,0,68,31,1,46,...,110,7,74,45,8,30,44,9,16,191
12166,5156290713,22,2066,10,False,0,85,123,1,54,...,283,7,50,58,8,86,71,9,69,204
12168,5156290718,22,1878,10,False,0,104,133,1,101,...,47,7,2,150,8,93,226,9,97,280
12169,5156290729,22,2329,10,False,0,104,214,1,35,...,30,7,49,123,8,68,139,9,19,267
12170,5156290733,22,3199,10,False,0,83,182,1,13,...,140,7,41,325,8,3,50,9,126,380

In [10]:
dataRadiant=dataT[dataT['radiantwin']==True]
dataRadiant

,matchid,gamemode,time,playernum,radiantwin,playerslot0,hero0,hit0,playerslot1,hero1,...,hit6,playerslot7,hero7,hit7,playerslot8,hero8,hit8,playerslot9,hero9,hit9
0,5156254109,22,1801,10,True,0,7,73,1,63,...,133,7,44,133,8,36,67,9,30,16
1,5156254110,22,1695,10,True,0,5,45,1,6,...,35,7,57,53,8,70,107,9,121,41
2,5156254111,22,2307,10,True,0,14,103,1,86,...,156,7,104,164,8,19,96,9,68,44
3,5156254112,22,2633,10,True,0,21,247,1,14,...,303,7,26,39,8,8,324,9,100,79
6,5156254115,22,4648,10,True,0,97,465,1,26,...,98,7,75,66,8,41,353,9,34,697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12159,5156290690,22,1668,10,True,0,26,22,1,85,...,71,7,48,143,8,71,70,9,104,116
12161,5156290694,22,2105,10,True,0,26,33,1,48,...,28,7,126,207,8,50,59,9,42,155
12163,5156290708,22,2643,10,True,0,80,222,1,86,...,203,7,26,53,8,13,251,9,16,151
12164,5156290709,22,1876,10,True,0,101,39,1,63,...,25,7,128,85,8,70,128,9,38,85
12167,5156290716,22,1733,10,True,0,1,223,1,95,...,77,7,53,106,8,105,33,9,74,107

In [26]:
Direwin=dataDire['hero5'].value_counts().add(dataDire['hero6'].value_counts(),fill_value=0).add(dataDire['hero7'].value_counts(),fill_value=0).add(dataDire['hero8'].value_counts(),fill_value=0).add(dataDire['hero9'].value_counts(),fill_value=0)

In [28]:
Direwin

1      512.0
2      283.0
3       73.0
4      340.0
5      469.0
       ...
120    140.0
121    125.0
126    557.0
128    732.0
129    100.0
Length: 119, dtype: float64

In [29]:
radianwin=dataRadiant['hero0'].value_counts().add(dataRadiant['hero1'].value_counts(),fill_value=0).add(dataRadiant['hero2'].value_counts(),fill_value=0).add(dataRadiant['hero3'].value_counts(),fill_value=0).add(dataRadiant['hero4'].value_counts(),fill_value=0)

In [30]:
radianwin

1      453
2      314
3       65
4      333
5      543
      ...
120    142
121    131
126    641
128    808
129     97
Length: 119, dtype: int64

In [31]:
direlose=Direwin=dataDire['hero0'].value_counts().add(dataDire['hero1'].value_counts(),fill_value=0).add(dataDire['hero2'].value_counts(),fill_value=0).add(dataDire['hero3'].value_counts(),fill_value=0).add(dataDire['hero4'].value_counts(),fill_value=0)

In [32]:
radianlose=dataRadiant['hero5'].value_counts().add(dataRadiant['hero6'].value_counts(),fill_value=0).add(dataRadiant['hero7'].value_counts(),fill_value=0).add(dataRadiant['hero8'].value_counts(),fill_value=0).add(dataRadiant['hero9'].value_counts(),fill_value=0)

In [33]:
win=Direwin.add(radianwin,fill_value=0)

In [34]:
win

1       840
2       637
3       154
4       608
5      1032
       ...
120     298
121     288
126    1249
128    1540
129     184
Length: 119, dtype: int64

In [35]:
radianwin

1      453
2      314
3       65
4      333
5      543
      ...
120    142
121    131
126    641
128    808
129     97
Length: 119, dtype: int64

In [37]:
Direwin=dataDire['hero5'].value_counts().add(dataDire['hero6'].value_counts(),fill_value=0).add(dataDire['hero7'].value_counts(),fill_value=0).add(dataDire['hero8'].value_counts(),fill_value=0).add(dataDire['hero9'].value_counts(),fill_value=0)

In [38]:
Direwin

1      512.0
2      283.0
3       73.0
4      340.0
5      469.0
       ...
120    140.0
121    125.0
126    557.0
128    732.0
129    100.0
Length: 119, dtype: float64

In [39]:
win=Direwin.add(radianwin,fill_value=0)

In [40]:
win

1       965.0
2       597.0
3       138.0
4       673.0
5      1012.0
        ...
120     282.0
121     256.0
126    1198.0
128    1540.0
129     197.0
Length: 119, dtype: float64

In [41]:
win.sort_values()

92       22.0
66       32.0
78       47.0
43       62.0
103      71.0
        ...
74     1361.0
84     1373.0
128    1540.0
26     1696.0
14     2735.0
Length: 119, dtype: float64

In [42]:
win.sort_values(ascending=False)

14     2735.0
26     1696.0
128    1540.0
84     1373.0
74     1361.0
        ...
103      71.0
43       62.0
78       47.0
66       32.0
92       22.0
Length: 119, dtype: float64

In [43]:
radianlose=dataRadiant['hero5'].value_counts().add(dataRadiant['hero6'].value_counts(),fill_value=0).add(dataRadiant['hero7'].value_counts(),fill_value=0).add(dataRadiant['hero8'].value_counts(),fill_value=0).add(dataRadiant['hero9'].value_counts(),fill_value=0)

In [46]:
direlose=dataDire['hero0'].value_counts().add(dataDire['hero1'].value_counts(),fill_value=0).add(dataDire['hero2'].value_counts(),fill_value=0).add(dataDire['hero3'].value_counts(),fill_value=0).add(dataDire['hero4'].value_counts(),fill_value=0)

lose=radianlose.add(direlose,fill_value=0)

In [47]:
lose=radianlose.add(direlose,fill_value=0)

In [48]:
lose

1       816
2       671
3       170
4       562
5      1006
       ...
120     333
121     361
126    1315
128    1488
129     205
Length: 119, dtype: int64

In [49]:
lose.sort_values(ascending=False)

14     2486
26     1780
128    1488
74     1394
126    1315
       ...
55       82
103      79
78       48
92       38
66       26
Length: 119, dtype: int64

In [50]:
win.count()

119

In [51]:
win.sum()

58285.0

In [52]:
lose.sum()

58285

In [53]:
win.sort_values(ascending=False)

14     2735.0
26     1696.0
128    1540.0
84     1373.0
74     1361.0
        ...
103      71.0
43       62.0
78       47.0
66       32.0
92       22.0
Length: 119, dtype: float64

In [54]:
herowol=DataFrame(list(zip(win,lose)))

In [55]:
herowol

          0     1
0     965.0   816
1     597.0   671
2     138.0   170
3     673.0   562
4    1012.0  1006
..      ...   ...
114   282.0   333
115   256.0   361
116  1198.0  1315
117  1540.0  1488
118   197.0   205

[119 rows x 2 columns]

In [56]:
herowol=DataFrame({'win':win,'lose':lose})

In [57]:
herowol

        win  lose
1     965.0   816
2     597.0   671
3     138.0   170
4     673.0   562
5    1012.0  1006
..      ...   ...
120   282.0   333
121   256.0   361
126  1198.0  1315
128  1540.0  1488
129   197.0   205

[119 rows x 2 columns]

In [58]:
herowol['sum']=herowol.win+herowol.lose

In [59]:
herowol

        win  lose     sum
1     965.0   816  1781.0
2     597.0   671  1268.0
3     138.0   170   308.0
4     673.0   562  1235.0
5    1012.0  1006  2018.0
..      ...   ...     ...
120   282.0   333   615.0
121   256.0   361   617.0
126  1198.0  1315  2513.0
128  1540.0  1488  3028.0
129   197.0   205   402.0

[119 rows x 3 columns]

In [62]:
herowol['rate']=herowol.win/herowol.lose

In [63]:
herowol

        win  lose     sum      rate
1     965.0   816  1781.0  1.182598
2     597.0   671  1268.0  0.889717
3     138.0   170   308.0  0.811765
4     673.0   562  1235.0  1.197509
5    1012.0  1006  2018.0  1.005964
..      ...   ...     ...       ...
120   282.0   333   615.0  0.846847
121   256.0   361   617.0  0.709141
126  1198.0  1315  2513.0  0.911027
128  1540.0  1488  3028.0  1.034946
129   197.0   205   402.0  0.960976

[119 rows x 4 columns]

In [65]:
herowol['rate']=herowol.win/herowol['sum']

In [66]:
herowol

        win  lose     sum      rate
1     965.0   816  1781.0  0.541830
2     597.0   671  1268.0  0.470820
3     138.0   170   308.0  0.448052
4     673.0   562  1235.0  0.544939
5    1012.0  1006  2018.0  0.501487
..      ...   ...     ...       ...
120   282.0   333   615.0  0.458537
121   256.0   361   617.0  0.414911
126  1198.0  1315  2513.0  0.476721
128  1540.0  1488  3028.0  0.508587
129   197.0   205   402.0  0.490050

[119 rows x 4 columns]

In [67]:
herowol.sort_values(by='rate')

       win  lose     sum      rate
92    22.0    38    60.0  0.366667
121  256.0   361   617.0  0.414911
43    62.0    87   149.0  0.416107
72   198.0   262   460.0  0.430435
10   222.0   293   515.0  0.431068
..     ...   ...     ...       ...
22   912.0   755  1667.0  0.547091
66    32.0    26    58.0  0.551724
60   260.0   208   468.0  0.555556
20   715.0   548  1263.0  0.566112
108  331.0   238   569.0  0.581722

[119 rows x 4 columns]

In [68]:
herowol.sort_values(by='rate',ascending=False).head(20)

        win  lose     sum      rate
108   331.0   238   569.0  0.581722
20    715.0   548  1263.0  0.566112
60    260.0   208   468.0  0.555556
66     32.0    26    58.0  0.551724
22    912.0   755  1667.0  0.547091
80    310.0   258   568.0  0.545775
4     673.0   562  1235.0  0.544939
1     965.0   816  1781.0  0.541830
89    165.0   141   306.0  0.539216
82    304.0   262   566.0  0.537102
84   1373.0  1195  2568.0  0.534657
91    163.0   142   305.0  0.534426
57    165.0   144   309.0  0.533981
44   1234.0  1079  2313.0  0.533506
56    291.0   256   547.0  0.531993
54    552.0   490  1042.0  0.529750
12    643.0   574  1217.0  0.528348
19    910.0   813  1723.0  0.528149
42    670.0   603  1273.0  0.526316
59    483.0   435   918.0  0.526144

In [69]:
herodict=[{"id":1,"name":"npc_dota_hero_antimage","localized_name":"Anti-Mage","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Escape","Nuker"],"legs":2},{"id":2,"name":"npc_dota_hero_axe","localized_name":"Axe","primary_attr":"str","attack_type":"Melee","roles":["Initiator","Durable","Disabler","Jungler"],"legs":2},{"id":3,"name":"npc_dota_hero_bane","localized_name":"Bane","primary_attr":"int","attack_type":"Ranged","roles":["Support","Disabler","Nuker","Durable"],"legs":4},{"id":4,"name":"npc_dota_hero_bloodseeker","localized_name":"Bloodseeker","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Disabler","Jungler","Nuker","Initiator"],"legs":2},{"id":5,"name":"npc_dota_hero_crystal_maiden","localized_name":"Crystal Maiden","primary_attr":"int","attack_type":"Ranged","roles":["Support","Disabler","Nuker","Jungler"],"legs":2},{"id":6,"name":"npc_dota_hero_drow_ranger","localized_name":"Drow Ranger","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Disabler","Pusher"],"legs":2},{"id":7,"name":"npc_dota_hero_earthshaker","localized_name":"Earthshaker","primary_attr":"str","attack_type":"Melee","roles":["Support","Initiator","Disabler","Nuker"],"legs":2},{"id":8,"name":"npc_dota_hero_juggernaut","localized_name":"Juggernaut","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Pusher","Escape"],"legs":2},{"id":9,"name":"npc_dota_hero_mirana","localized_name":"Mirana","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Support","Escape","Nuker","Disabler"],"legs":2},{"id":10,"name":"npc_dota_hero_morphling","localized_name":"Morphling","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Escape","Durable","Nuker","Disabler"],"legs":0},{"id":11,"name":"npc_dota_hero_nevermore","localized_name":"Shadow Fiend","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Nuker"],"legs":0},{"id":12,"name":"npc_dota_hero_phantom_lancer","localized_name":"Phantom Lancer","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Escape","Pusher","Nuker"],"legs":2},{"id":13,"name":"npc_dota_hero_puck","localized_name":"Puck","primary_attr":"int","attack_type":"Ranged","roles":["Initiator","Disabler","Escape","Nuker"],"legs":2},{"id":14,"name":"npc_dota_hero_pudge","localized_name":"Pudge","primary_attr":"str","attack_type":"Melee","roles":["Disabler","Initiator","Durable","Nuker"],"legs":2},{"id":15,"name":"npc_dota_hero_razor","localized_name":"Razor","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Durable","Nuker","Pusher"],"legs":0},{"id":16,"name":"npc_dota_hero_sand_king","localized_name":"Sand King","primary_attr":"str","attack_type":"Melee","roles":["Initiator","Disabler","Support","Nuker","Escape","Jungler"],"legs":6},{"id":17,"name":"npc_dota_hero_storm_spirit","localized_name":"Storm Spirit","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Escape","Nuker","Initiator","Disabler"],"legs":2},{"id":18,"name":"npc_dota_hero_sven","localized_name":"Sven","primary_attr":"str","attack_type":"Melee","roles":["Carry","Disabler","Initiator","Durable","Nuker"],"legs":2},{"id":19,"name":"npc_dota_hero_tiny","localized_name":"Tiny","primary_attr":"str","attack_type":"Melee","roles":["Carry","Nuker","Pusher","Initiator","Durable","Disabler"],"legs":2},{"id":20,"name":"npc_dota_hero_vengefulspirit","localized_name":"Vengeful Spirit","primary_attr":"agi","attack_type":"Ranged","roles":["Support","Initiator","Disabler","Nuker","Escape"],"legs":2},{"id":21,"name":"npc_dota_hero_windrunner","localized_name":"Windranger","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Support","Disabler","Escape","Nuker"],"legs":2},{"id":22,"name":"npc_dota_hero_zuus","localized_name":"Zeus","primary_attr":"int","attack_type":"Ranged","roles":["Nuker"],"legs":2},{"id":23,"name":"npc_dota_hero_kunkka","localized_name":"Kunkka","primary_attr":"str","attack_type":"Melee","roles":["Carry","Support","Disabler","Initiator","Durable","Nuker"],"legs":2},{"id":25,"name":"npc_dota_hero_lina","localized_name":"Lina","primary_attr":"int","attack_type":"Ranged","roles":["Support","Carry","Nuker","Disabler"],"legs":2},{"id":26,"name":"npc_dota_hero_lion","localized_name":"Lion","primary_attr":"int","attack_type":"Ranged","roles":["Support","Disabler","Nuker","Initiator"],"legs":2},{"id":27,"name":"npc_dota_hero_shadow_shaman","localized_name":"Shadow Shaman","primary_attr":"int","attack_type":"Ranged","roles":["Support","Pusher","Disabler","Nuker","Initiator"],"legs":2},{"id":28,"name":"npc_dota_hero_slardar","localized_name":"Slardar","primary_attr":"str","attack_type":"Melee","roles":["Carry","Durable","Initiator","Disabler","Escape"],"legs":0},{"id":29,"name":"npc_dota_hero_tidehunter","localized_name":"Tidehunter","primary_attr":"str","attack_type":"Melee","roles":["Initiator","Durable","Disabler","Nuker"],"legs":2},{"id":30,"name":"npc_dota_hero_witch_doctor","localized_name":"Witch Doctor","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker","Disabler"],"legs":2},{"id":31,"name":"npc_dota_hero_lich","localized_name":"Lich","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker"],"legs":2},{"id":32,"name":"npc_dota_hero_riki","localized_name":"Riki","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Escape","Disabler"],"legs":2},{"id":33,"name":"npc_dota_hero_enigma","localized_name":"Enigma","primary_attr":"int","attack_type":"Ranged","roles":["Disabler","Jungler","Initiator","Pusher"],"legs":0},{"id":34,"name":"npc_dota_hero_tinker","localized_name":"Tinker","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Nuker","Pusher"],"legs":2},{"id":35,"name":"npc_dota_hero_sniper","localized_name":"Sniper","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Nuker"],"legs":2},{"id":36,"name":"npc_dota_hero_necrolyte","localized_name":"Necrophos","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Nuker","Durable","Disabler"],"legs":2},{"id":37,"name":"npc_dota_hero_warlock","localized_name":"Warlock","primary_attr":"int","attack_type":"Ranged","roles":["Support","Initiator","Disabler"],"legs":2},{"id":38,"name":"npc_dota_hero_beastmaster","localized_name":"Beastmaster","primary_attr":"str","attack_type":"Melee","roles":["Initiator","Disabler","Durable","Nuker"],"legs":2},{"id":39,"name":"npc_dota_hero_queenofpain","localized_name":"Queen of Pain","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Nuker","Escape"],"legs":2},{"id":40,"name":"npc_dota_hero_venomancer","localized_name":"Venomancer","primary_attr":"agi","attack_type":"Ranged","roles":["Support","Nuker","Initiator","Pusher","Disabler"],"legs":0},{"id":41,"name":"npc_dota_hero_faceless_void","localized_name":"Faceless Void","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Initiator","Disabler","Escape","Durable"],"legs":2},{"id":42,"name":"npc_dota_hero_skeleton_king","localized_name":"Wraith King","primary_attr":"str","attack_type":"Melee","roles":["Carry","Support","Durable","Disabler","Initiator"],"legs":2},{"id":43,"name":"npc_dota_hero_death_prophet","localized_name":"Death Prophet","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Pusher","Nuker","Disabler"],"legs":2},{"id":44,"name":"npc_dota_hero_phantom_assassin","localized_name":"Phantom Assassin","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Escape"],"legs":2},{"id":45,"name":"npc_dota_hero_pugna","localized_name":"Pugna","primary_attr":"int","attack_type":"Ranged","roles":["Nuker","Pusher"],"legs":2},{"id":46,"name":"npc_dota_hero_templar_assassin","localized_name":"Templar Assassin","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Escape"],"legs":2},{"id":47,"name":"npc_dota_hero_viper","localized_name":"Viper","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Durable","Initiator","Disabler"],"legs":0},{"id":48,"name":"npc_dota_hero_luna","localized_name":"Luna","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Nuker","Pusher"],"legs":2},{"id":49,"name":"npc_dota_hero_dragon_knight","localized_name":"Dragon Knight","primary_attr":"str","attack_type":"Melee","roles":["Carry","Pusher","Durable","Disabler","Initiator","Nuker"],"legs":2},{"id":50,"name":"npc_dota_hero_dazzle","localized_name":"Dazzle","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker","Disabler"],"legs":2},{"id":51,"name":"npc_dota_hero_rattletrap","localized_name":"Clockwerk","primary_attr":"str","attack_type":"Melee","roles":["Initiator","Disabler","Durable","Nuker"],"legs":2},{"id":52,"name":"npc_dota_hero_leshrac","localized_name":"Leshrac","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Support","Nuker","Pusher","Disabler"],"legs":4},{"id":53,"name":"npc_dota_hero_furion","localized_name":"Nature's Prophet","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Jungler","Pusher","Escape","Nuker"],"legs":2},{"id":54,"name":"npc_dota_hero_life_stealer","localized_name":"Lifestealer","primary_attr":"str","attack_type":"Melee","roles":["Carry","Durable","Jungler","Escape","Disabler"],"legs":2},{"id":55,"name":"npc_dota_hero_dark_seer","localized_name":"Dark Seer","primary_attr":"int","attack_type":"Melee","roles":["Initiator","Jungler","Escape","Disabler"],"legs":2},{"id":56,"name":"npc_dota_hero_clinkz","localized_name":"Clinkz","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Escape","Pusher"],"legs":2},{"id":57,"name":"npc_dota_hero_omniknight","localized_name":"Omniknight","primary_attr":"str","attack_type":"Melee","roles":["Support","Durable","Nuker"],"legs":2},{"id":58,"name":"npc_dota_hero_enchantress","localized_name":"Enchantress","primary_attr":"int","attack_type":"Ranged","roles":["Support","Jungler","Pusher","Durable","Disabler"],"legs":4},{"id":59,"name":"npc_dota_hero_huskar","localized_name":"Huskar","primary_attr":"str","attack_type":"Ranged","roles":["Carry","Durable","Initiator"],"legs":2},{"id":60,"name":"npc_dota_hero_night_stalker","localized_name":"Night Stalker","primary_attr":"str","attack_type":"Melee","roles":["Carry","Initiator","Durable","Disabler","Nuker"],"legs":2},{"id":61,"name":"npc_dota_hero_broodmother","localized_name":"Broodmother","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Pusher","Escape","Nuker"],"legs":8},{"id":62,"name":"npc_dota_hero_bounty_hunter","localized_name":"Bounty Hunter","primary_attr":"agi","attack_type":"Melee","roles":["Escape","Nuker"],"legs":2},{"id":63,"name":"npc_dota_hero_weaver","localized_name":"Weaver","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Escape"],"legs":4},{"id":64,"name":"npc_dota_hero_jakiro","localized_name":"Jakiro","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker","Pusher","Disabler"],"legs":2},{"id":65,"name":"npc_dota_hero_batrider","localized_name":"Batrider","primary_attr":"int","attack_type":"Ranged","roles":["Initiator","Jungler","Disabler","Escape"],"legs":2},{"id":66,"name":"npc_dota_hero_chen","localized_name":"Chen","primary_attr":"int","attack_type":"Ranged","roles":["Support","Jungler","Pusher"],"legs":2},{"id":67,"name":"npc_dota_hero_spectre","localized_name":"Spectre","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Durable","Escape"],"legs":0},{"id":68,"name":"npc_dota_hero_ancient_apparition","localized_name":"Ancient Apparition","primary_attr":"int","attack_type":"Ranged","roles":["Support","Disabler","Nuker"],"legs":2},{"id":69,"name":"npc_dota_hero_doom_bringer","localized_name":"Doom","primary_attr":"str","attack_type":"Melee","roles":["Carry","Disabler","Initiator","Durable","Nuker"],"legs":2},{"id":70,"name":"npc_dota_hero_ursa","localized_name":"Ursa","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Jungler","Durable","Disabler"],"legs":2},{"id":71,"name":"npc_dota_hero_spirit_breaker","localized_name":"Spirit Breaker","primary_attr":"str","attack_type":"Melee","roles":["Carry","Initiator","Disabler","Durable","Escape"],"legs":2},{"id":72,"name":"npc_dota_hero_gyrocopter","localized_name":"Gyrocopter","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Nuker","Disabler"],"legs":2},{"id":73,"name":"npc_dota_hero_alchemist","localized_name":"Alchemist","primary_attr":"str","attack_type":"Melee","roles":["Carry","Support","Durable","Disabler","Initiator","Nuker"],"legs":2},{"id":74,"name":"npc_dota_hero_invoker","localized_name":"Invoker","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Nuker","Disabler","Escape","Pusher"],"legs":2},{"id":75,"name":"npc_dota_hero_silencer","localized_name":"Silencer","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Support","Disabler","Initiator","Nuker"],"legs":2},{"id":76,"name":"npc_dota_hero_obsidian_destroyer","localized_name":"Outworld Devourer","primary_attr":"int","attack_type":"Ranged","roles":["Carry","Nuker","Disabler"],"legs":4},{"id":77,"name":"npc_dota_hero_lycan","localized_name":"Lycan","primary_attr":"str","attack_type":"Melee","roles":["Carry","Pusher","Jungler","Durable","Escape"],"legs":2},{"id":78,"name":"npc_dota_hero_brewmaster","localized_name":"Brewmaster","primary_attr":"str","attack_type":"Melee","roles":["Carry","Initiator","Durable","Disabler","Nuker"],"legs":2},{"id":79,"name":"npc_dota_hero_shadow_demon","localized_name":"Shadow Demon","primary_attr":"int","attack_type":"Ranged","roles":["Support","Disabler","Initiator","Nuker"],"legs":2},{"id":80,"name":"npc_dota_hero_lone_druid","localized_name":"Lone Druid","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Pusher","Jungler","Durable"],"legs":2},{"id":81,"name":"npc_dota_hero_chaos_knight","localized_name":"Chaos Knight","primary_attr":"str","attack_type":"Melee","roles":["Carry","Disabler","Durable","Pusher","Initiator"],"legs":2},{"id":82,"name":"npc_dota_hero_meepo","localized_name":"Meepo","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Escape","Nuker","Disabler","Initiator","Pusher"],"legs":2},{"id":83,"name":"npc_dota_hero_treant","localized_name":"Treant Protector","primary_attr":"str","attack_type":"Melee","roles":["Support","Initiator","Durable","Disabler","Escape"],"legs":2},{"id":84,"name":"npc_dota_hero_ogre_magi","localized_name":"Ogre Magi","primary_attr":"int","attack_type":"Melee","roles":["Support","Nuker","Disabler","Durable","Initiator"],"legs":2},{"id":85,"name":"npc_dota_hero_undying","localized_name":"Undying","primary_attr":"str","attack_type":"Melee","roles":["Support","Durable","Disabler","Nuker"],"legs":2},{"id":86,"name":"npc_dota_hero_rubick","localized_name":"Rubick","primary_attr":"int","attack_type":"Ranged","roles":["Support","Disabler","Nuker"],"legs":2},{"id":87,"name":"npc_dota_hero_disruptor","localized_name":"Disruptor","primary_attr":"int","attack_type":"Ranged","roles":["Support","Disabler","Nuker","Initiator"],"legs":2},{"id":88,"name":"npc_dota_hero_nyx_assassin","localized_name":"Nyx Assassin","primary_attr":"agi","attack_type":"Melee","roles":["Disabler","Nuker","Initiator","Escape"],"legs":6},{"id":89,"name":"npc_dota_hero_naga_siren","localized_name":"Naga Siren","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Support","Pusher","Disabler","Initiator","Escape"],"legs":0},{"id":90,"name":"npc_dota_hero_keeper_of_the_light","localized_name":"Keeper of the Light","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker","Disabler","Jungler"],"legs":2},{"id":91,"name":"npc_dota_hero_wisp","localized_name":"Io","primary_attr":"str","attack_type":"Ranged","roles":["Support","Escape","Nuker"],"legs":0},{"id":92,"name":"npc_dota_hero_visage","localized_name":"Visage","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker","Durable","Disabler","Pusher"],"legs":2},{"id":93,"name":"npc_dota_hero_slark","localized_name":"Slark","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Escape","Disabler","Nuker"],"legs":2},{"id":94,"name":"npc_dota_hero_medusa","localized_name":"Medusa","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Disabler","Durable"],"legs":0},{"id":95,"name":"npc_dota_hero_troll_warlord","localized_name":"Troll Warlord","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Pusher","Disabler","Durable"],"legs":2},{"id":96,"name":"npc_dota_hero_centaur","localized_name":"Centaur Warrunner","primary_attr":"str","attack_type":"Melee","roles":["Durable","Initiator","Disabler","Nuker","Escape"],"legs":4},{"id":97,"name":"npc_dota_hero_magnataur","localized_name":"Magnus","primary_attr":"str","attack_type":"Melee","roles":["Initiator","Disabler","Nuker","Escape"],"legs":4},{"id":98,"name":"npc_dota_hero_shredder","localized_name":"Timbersaw","primary_attr":"str","attack_type":"Melee","roles":["Nuker","Durable","Escape"],"legs":2},{"id":99,"name":"npc_dota_hero_bristleback","localized_name":"Bristleback","primary_attr":"str","attack_type":"Melee","roles":["Carry","Durable","Initiator","Nuker"],"legs":2},{"id":100,"name":"npc_dota_hero_tusk","localized_name":"Tusk","primary_attr":"str","attack_type":"Melee","roles":["Initiator","Disabler","Nuker"],"legs":2},{"id":101,"name":"npc_dota_hero_skywrath_mage","localized_name":"Skywrath Mage","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker","Disabler"],"legs":2},{"id":102,"name":"npc_dota_hero_abaddon","localized_name":"Abaddon","primary_attr":"str","attack_type":"Melee","roles":["Support","Carry","Durable"],"legs":2},{"id":103,"name":"npc_dota_hero_elder_titan","localized_name":"Elder Titan","primary_attr":"str","attack_type":"Melee","roles":["Initiator","Disabler","Nuker","Durable"],"legs":2},{"id":104,"name":"npc_dota_hero_legion_commander","localized_name":"Legion Commander","primary_attr":"str","attack_type":"Melee","roles":["Carry","Disabler","Initiator","Durable","Nuker"],"legs":2},{"id":105,"name":"npc_dota_hero_techies","localized_name":"Techies","primary_attr":"int","attack_type":"Ranged","roles":["Nuker","Disabler"],"legs":6},{"id":106,"name":"npc_dota_hero_ember_spirit","localized_name":"Ember Spirit","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Escape","Nuker","Disabler","Initiator"],"legs":2},{"id":107,"name":"npc_dota_hero_earth_spirit","localized_name":"Earth Spirit","primary_attr":"str","attack_type":"Melee","roles":["Nuker","Escape","Disabler","Initiator","Durable"],"legs":2},{"id":108,"name":"npc_dota_hero_abyssal_underlord","localized_name":"Underlord","primary_attr":"str","attack_type":"Melee","roles":["Support","Nuker","Disabler","Durable","Escape"],"legs":2},{"id":109,"name":"npc_dota_hero_terrorblade","localized_name":"Terrorblade","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Pusher","Nuker"],"legs":2},{"id":110,"name":"npc_dota_hero_phoenix","localized_name":"Phoenix","primary_attr":"str","attack_type":"Ranged","roles":["Support","Nuker","Initiator","Escape","Disabler"],"legs":2},{"id":111,"name":"npc_dota_hero_oracle","localized_name":"Oracle","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker","Disabler","Escape"],"legs":2},{"id":112,"name":"npc_dota_hero_winter_wyvern","localized_name":"Winter Wyvern","primary_attr":"int","attack_type":"Ranged","roles":["Support","Disabler","Nuker"],"legs":2},{"id":113,"name":"npc_dota_hero_arc_warden","localized_name":"Arc Warden","primary_attr":"agi","attack_type":"Ranged","roles":["Carry","Escape","Nuker"],"legs":2},{"id":114,"name":"npc_dota_hero_monkey_king","localized_name":"Monkey King","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Escape","Disabler","Initiator"],"legs":2},{"id":119,"name":"npc_dota_hero_dark_willow","localized_name":"Dark Willow","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker","Disabler","Escape"],"legs":2},{"id":120,"name":"npc_dota_hero_pangolier","localized_name":"Pangolier","primary_attr":"agi","attack_type":"Melee","roles":["Carry","Nuker","Disabler","Durable","Escape","Initiator"],"legs":2},{"id":121,"name":"npc_dota_hero_grimstroke","localized_name":"Grimstroke","primary_attr":"int","attack_type":"Ranged","roles":["Support","Nuker","Disabler","Escape"],"legs":2},{"id":126,"name":"npc_dota_hero_void_spirit","localized_name":"Void Spirit","primary_attr":"int","attack_type":"Melee","roles":["Carry","Escape","Nuker","Disabler"],"legs":2},{"id":128,"name":"npc_dota_hero_snapfire","localized_name":"Snapfire","primary_attr":"str","attack_type":"Ranged","roles":["Support","Nuker","Disabler","Escape"],"legs":2},{"id":129,"name":"npc_dota_hero_mars","localized_name":"Mars","primary_attr":"str","attack_type":"Melee","roles":["Carry","Initiator","Disabler","Durable"],"legs":2}]

In [70]:
herodict[0]

{'id': 1,
 'name': 'npc_dota_hero_antimage',
 'localized_name': 'Anti-Mage',
 'primary_attr': 'agi',
 'attack_type': 'Melee',
 'roles': ['Carry', 'Escape', 'Nuker'],
 'legs': 2}

In [71]:
herowol[hero_name]=herodict[(herowol.index-1)]['localized_name']

TypeError: list indices must be integers or slices, not Int64Index

In [72]:
herowol.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            111, 112, 113, 114, 119, 120, 121, 126, 128, 129],
           dtype='int64', length=119)

In [75]:
herowol.index.name='hero_id'

In [76]:
herowol[hero_name]=herodict[(herowol.hero_id-1)]['localized_name']

AttributeError: 'DataFrame' object has no attribute 'hero_id'

In [79]:
herowol

            win  lose     sum      rate
hero_id
1         965.0   816  1781.0  0.541830
2         597.0   671  1268.0  0.470820
3         138.0   170   308.0  0.448052
4         673.0   562  1235.0  0.544939
5        1012.0  1006  2018.0  0.501487
...         ...   ...     ...       ...
120       282.0   333   615.0  0.458537
121       256.0   361   617.0  0.414911
126      1198.0  1315  2513.0  0.476721
128      1540.0  1488  3028.0  0.508587
129       197.0   205   402.0  0.490050

[119 rows x 4 columns]

In [81]:
herowol.icol(0)

AttributeError: 'DataFrame' object has no attribute 'icol'

In [82]:
#目前Python3中的dataframe已经不推荐（/支持）data.icol(0)了，取第一列应该是data.iloc[:,0]
herowol.iloc[:,0]

hero_id
1       965.0
2       597.0
3       138.0
4       673.0
5      1012.0
        ...
120     282.0
121     256.0
126    1198.0
128    1540.0
129     197.0
Name: win, Length: 119, dtype: float64

In [83]:
herowol['hero_id']=herowol.index

In [84]:
herowol

            win  lose     sum      rate  hero_id
hero_id
1         965.0   816  1781.0  0.541830        1
2         597.0   671  1268.0  0.470820        2
3         138.0   170   308.0  0.448052        3
4         673.0   562  1235.0  0.544939        4
5        1012.0  1006  2018.0  0.501487        5
...         ...   ...     ...       ...      ...
120       282.0   333   615.0  0.458537      120
121       256.0   361   617.0  0.414911      121
126      1198.0  1315  2513.0  0.476721      126
128      1540.0  1488  3028.0  0.508587      128
129       197.0   205   402.0  0.490050      129

[119 rows x 5 columns]

In [85]:
herowol['hero_name']=herodict[(herowol.hero_id-1)]['localized_name']

TypeError: list indices must be integers or slices, not Series

In [86]:
herowol.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            111, 112, 113, 114, 119, 120, 121, 126, 128, 129],
           dtype='int64', name='hero_id', length=119)

In [99]:
herolist=[]
for hero in herodict:
    herolist.append(hero['localized_name'])

In [97]:
 len(herodict)

119

In [100]:
herowol['hero_name']=herolist

In [101]:
herowol

            win  lose     sum      rate  hero_id       hero_name
hero_id
1         965.0   816  1781.0  0.541830        1       Anti-Mage
2         597.0   671  1268.0  0.470820        2             Axe
3         138.0   170   308.0  0.448052        3            Bane
4         673.0   562  1235.0  0.544939        4     Bloodseeker
5        1012.0  1006  2018.0  0.501487        5  Crystal Maiden
...         ...   ...     ...       ...      ...             ...
120       282.0   333   615.0  0.458537      120       Pangolier
121       256.0   361   617.0  0.414911      121      Grimstroke
126      1198.0  1315  2513.0  0.476721      126     Void Spirit
128      1540.0  1488  3028.0  0.508587      128        Snapfire
129       197.0   205   402.0  0.490050      129            Mars

[119 rows x 6 columns]

In [102]:
herowol.sort_values(by='rate',ascending=False).head(20)

            win  lose     sum      rate  hero_id         hero_name
hero_id
108       331.0   238   569.0  0.581722      108         Underlord
20        715.0   548  1263.0  0.566112       20   Vengeful Spirit
60        260.0   208   468.0  0.555556       60     Night Stalker
66         32.0    26    58.0  0.551724       66              Chen
22        912.0   755  1667.0  0.547091       22              Zeus
80        310.0   258   568.0  0.545775       80        Lone Druid
4         673.0   562  1235.0  0.544939        4       Bloodseeker
1         965.0   816  1781.0  0.541830        1         Anti-Mage
89        165.0   141   306.0  0.539216       89        Naga Siren
82        304.0   262   566.0  0.537102       82             Meepo
84       1373.0  1195  2568.0  0.534657       84         Ogre Magi
91        163.0   142   305.0  0.534426       91                Io
57        165.0   144   309.0  0.533981       57        Omniknight
44       1234.0  1079  2313.0  0.533506       44  Phantom Assassin
56        291.0   256   547.0  0.531993       56            Clinkz
54        552.0   490  1042.0  0.529750       54       Lifestealer
12        643.0   574  1217.0  0.528348       12    Phantom Lancer
19        910.0   813  1723.0  0.528149       19              Tiny
42        670.0   603  1273.0  0.526316       42       Wraith King
59        483.0   435   918.0  0.526144       59            Huskar

In [103]:
herowol.drop(['hero_id'],axis=1)

            win  lose     sum      rate       hero_name
hero_id
1         965.0   816  1781.0  0.541830       Anti-Mage
2         597.0   671  1268.0  0.470820             Axe
3         138.0   170   308.0  0.448052            Bane
4         673.0   562  1235.0  0.544939     Bloodseeker
5        1012.0  1006  2018.0  0.501487  Crystal Maiden
...         ...   ...     ...       ...             ...
120       282.0   333   615.0  0.458537       Pangolier
121       256.0   361   617.0  0.414911      Grimstroke
126      1198.0  1315  2513.0  0.476721     Void Spirit
128      1540.0  1488  3028.0  0.508587        Snapfire
129       197.0   205   402.0  0.490050            Mars

[119 rows x 5 columns]

In [104]:
herowol.sort_values(by='rate',ascending=False).head(20)

            win  lose     sum      rate  hero_id         hero_name
hero_id
108       331.0   238   569.0  0.581722      108         Underlord
20        715.0   548  1263.0  0.566112       20   Vengeful Spirit
60        260.0   208   468.0  0.555556       60     Night Stalker
66         32.0    26    58.0  0.551724       66              Chen
22        912.0   755  1667.0  0.547091       22              Zeus
80        310.0   258   568.0  0.545775       80        Lone Druid
4         673.0   562  1235.0  0.544939        4       Bloodseeker
1         965.0   816  1781.0  0.541830        1         Anti-Mage
89        165.0   141   306.0  0.539216       89        Naga Siren
82        304.0   262   566.0  0.537102       82             Meepo
84       1373.0  1195  2568.0  0.534657       84         Ogre Magi
91        163.0   142   305.0  0.534426       91                Io
57        165.0   144   309.0  0.533981       57        Omniknight
44       1234.0  1079  2313.0  0.533506       44  Phantom Assassin
56        291.0   256   547.0  0.531993       56            Clinkz
54        552.0   490  1042.0  0.529750       54       Lifestealer
12        643.0   574  1217.0  0.528348       12    Phantom Lancer
19        910.0   813  1723.0  0.528149       19              Tiny
42        670.0   603  1273.0  0.526316       42       Wraith King
59        483.0   435   918.0  0.526144       59            Huskar

In [105]:
dataT[dataT['radiantwin']==True&dataT['time']>720]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [106]:
dataT['radiantwin']==True

0         True
1         True
2         True
3         True
4        False
         ...
12166    False
12167     True
12168    False
12169    False
12170    False
Name: radiantwin, Length: 11657, dtype: bool

In [107]:
dataT.loc(dataT['radiantwin']==True)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [108]:
dataT.loc[dataT['radiantwin']==True]

,matchid,gamemode,time,playernum,radiantwin,playerslot0,hero0,hit0,playerslot1,hero1,...,hit6,playerslot7,hero7,hit7,playerslot8,hero8,hit8,playerslot9,hero9,hit9
0,5156254109,22,1801,10,True,0,7,73,1,63,...,133,7,44,133,8,36,67,9,30,16
1,5156254110,22,1695,10,True,0,5,45,1,6,...,35,7,57,53,8,70,107,9,121,41
2,5156254111,22,2307,10,True,0,14,103,1,86,...,156,7,104,164,8,19,96,9,68,44
3,5156254112,22,2633,10,True,0,21,247,1,14,...,303,7,26,39,8,8,324,9,100,79
6,5156254115,22,4648,10,True,0,97,465,1,26,...,98,7,75,66,8,41,353,9,34,697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12159,5156290690,22,1668,10,True,0,26,22,1,85,...,71,7,48,143,8,71,70,9,104,116
12161,5156290694,22,2105,10,True,0,26,33,1,48,...,28,7,126,207,8,50,59,9,42,155
12163,5156290708,22,2643,10,True,0,80,222,1,86,...,203,7,26,53,8,13,251,9,16,151
12164,5156290709,22,1876,10,True,0,101,39,1,63,...,25,7,128,85,8,70,128,9,38,85
12167,5156290716,22,1733,10,True,0,1,223,1,95,...,77,7,53,106,8,105,33,9,74,107

In [109]:
dataT['radiantwin']==True

0         True
1         True
2         True
3         True
4        False
         ...
12166    False
12167     True
12168    False
12169    False
12170    False
Name: radiantwin, Length: 11657, dtype: bool

In [111]:
dataT.loc[(dataT['radiantwin']==True)&(dataT['time']>1800)]

,matchid,gamemode,time,playernum,radiantwin,playerslot0,hero0,hit0,playerslot1,hero1,...,hit6,playerslot7,hero7,hit7,playerslot8,hero8,hit8,playerslot9,hero9,hit9
0,5156254109,22,1801,10,True,0,7,73,1,63,...,133,7,44,133,8,36,67,9,30,16
2,5156254111,22,2307,10,True,0,14,103,1,86,...,156,7,104,164,8,19,96,9,68,44
3,5156254112,22,2633,10,True,0,21,247,1,14,...,303,7,26,39,8,8,324,9,100,79
6,5156254115,22,4648,10,True,0,97,465,1,26,...,98,7,75,66,8,41,353,9,34,697
7,5156254116,22,2634,10,True,0,40,72,1,23,...,204,7,44,80,8,9,86,9,14,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12153,5156290661,22,2924,10,True,0,35,260,1,119,...,216,7,62,165,8,70,177,9,128,119
12154,5156290669,22,2472,10,True,0,126,131,1,67,...,23,7,28,96,8,32,101,9,68,22
12161,5156290694,22,2105,10,True,0,26,33,1,48,...,28,7,126,207,8,50,59,9,42,155
12163,5156290708,22,2643,10,True,0,80,222,1,86,...,203,7,26,53,8,13,251,9,16,151
12164,5156290709,22,1876,10,True,0,101,39,1,63,...,25,7,128,85,8,70,128,9,38,85

In [112]:
dataT.loc

In [113]:
dataT.loc[]

SyntaxError: invalid syntax (<ipython-input-113-517dfe3e39f2>, line 1)

In [114]:
dataT[(dataT['radiantwin']==True)&(dataT['time']>1800)]

,matchid,gamemode,time,playernum,radiantwin,playerslot0,hero0,hit0,playerslot1,hero1,...,hit6,playerslot7,hero7,hit7,playerslot8,hero8,hit8,playerslot9,hero9,hit9
0,5156254109,22,1801,10,True,0,7,73,1,63,...,133,7,44,133,8,36,67,9,30,16
2,5156254111,22,2307,10,True,0,14,103,1,86,...,156,7,104,164,8,19,96,9,68,44
3,5156254112,22,2633,10,True,0,21,247,1,14,...,303,7,26,39,8,8,324,9,100,79
6,5156254115,22,4648,10,True,0,97,465,1,26,...,98,7,75,66,8,41,353,9,34,697
7,5156254116,22,2634,10,True,0,40,72,1,23,...,204,7,44,80,8,9,86,9,14,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12153,5156290661,22,2924,10,True,0,35,260,1,119,...,216,7,62,165,8,70,177,9,128,119
12154,5156290669,22,2472,10,True,0,126,131,1,67,...,23,7,28,96,8,32,101,9,68,22
12161,5156290694,22,2105,10,True,0,26,33,1,48,...,28,7,126,207,8,50,59,9,42,155
12163,5156290708,22,2643,10,True,0,80,222,1,86,...,203,7,26,53,8,13,251,9,16,151
12164,5156290709,22,1876,10,True,0,101,39,1,63,...,25,7,128,85,8,70,128,9,38,85